{% load static %}
{% include 'navbar.html' %}
<link rel="stylesheet" href="{% static 'styles/homepage.css' %}">
  <!-- Hero Section  -->
  <section id="hero"></section>
    <section id="services">
    <div class="services container">
      <div class="service-top">
        <h1 class="section-title">FUN <span>FACTS</span></h1>
       <a type="button" class="cta">In December 1989, Python’s creator Guido Van Rossum was looking for a hobby project to keep him occupied in the week around Christmas. He had been thinking of writing a new scripting language that’d be a descendant of ABC and also appeal to Unix/C hackers. He chose to call it Python.</a>
       <a type="button" class="cta">The language’s name isn’t about snakes, but about the popular British comedy troupe Monty Python (from the 1970s). Guido himself is a big fan of Monty Python’s Flying Circus. Being in a rather irreverent mood, he named the project ‘Python’. </a>
       <a type="button" class="cta">Tim Peters, a major contributor to the Python community, wrote this poem to highlight the philosophies of Python. If you type in “import this” in your Python IDLE, you’ll find this poem:</a>
        <a type="button" class="cta">Many big names use (or have used) Python for their products/services. Some of these are:

NASA
Google
Nokia
IBM
Yahoo! Maps
Walt Disney Feature Animation
Facebook
Netflix
Expedia
Reddit
Quora
MIT
Disqus
Hike
Spotify
Udemy
Shutterstock
Uber
Amazon
Mozilla
Dropbox
Pinterest
Youtube</a>
                <a type="button" class="cta">Python offers variations for the C and Java programming languages, despite being a self-contained programming language. The C derivative, known as CPython, was built to give Python the benefits of C. One of these criteria is performance. The variation can be used as an interpreter as well as a compiler.

Jython is Python’s Java implementation. It allows some of Java’s most important features, such as productivity, to run on a virtual machine.</a>
        <a type="button" class="cta">Python is a high-level, interpreted language that does not require a compiler, unlike other programming languages such as Java and C++.Python code is stored in a .pyc file, which serves as the Python engine and eliminates the need for a compiler.</a>
        <a type="button" class="cta">Python is one of the few programming languages that has been designated as an official Google language. Python became one of Google’s official programming languages due of its efficiency. It was advantageous to them because it is simple to use, even on large projects. Even YouTube is powered by Python programming.</a>
        <a type="button" class="cta">Python is a general-purpose programming language. In fact, it can be used in a wide range of coding scenarios like web development, artificial intelligence, machine learning, data analytics, internet of things and many <more class=""></more></a>

      </div>
    </div>
    </section>
  <!-- End Hero Section  -->
{% include 'footer.html' %}