{% load static %}
<link rel="stylesheet" href="{% static 'styles/homepage.css' %}">

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>Chinmayee</span> Gade <span></span></h1>
        <center><a href="https://github.com/Chinmayeegade"><h2><u>GITHUB</u></h2></a></center>
        <center><a href="https://www.linkedin.com/in/chinmayee-gade-a96665212/"><h2><u>LINKEDIN</u></h2></a></center>
      </div>
    </div>
  </section>
</body>