{% load static %}
{% include 'navbar.html' %}
<link rel="stylesheet" href="{% static 'styles/homepage.css' %}">

<head>
    <style>
    table,
    tr {
        padding: 15px;
        text-align: left;
        color: white;
        /* Styling the border. */
        border: 1.5px solid blue;
    }
    </style>
</head>

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="{% static 'images/12.png' %}">
        </div>

      </div>
      <div class="col-right">
        <h1 class="section-title">LISTS<span></span></h1>
          <p>Lists are a form of data types in Python, and a single list can store a varied amount strings, variables, Boolean values and numeric values/operations, lists, tuples, dictionaries.</p>
        <p>Lists must be enclosed in a pair of square brackets [] and are stored as variables.</p>
        <p>Each element within a list must be separated by a comma , .</p>
        <p>Lists are mutable and hence, can be changed/modified mid-program.</p>
          <p>The index number of the first element in a list is 0.</p>
          <p>A list, once changed/modified will be the new data type saved under that variable (not the original).</p>
          <p>**A tuple can be converted into a list by using the list function list() and typing the variable of the tuple in the parentheses. </p>
        <p>INPUT:</p>
        <table>
              <tr><th><pre>
Sum1 = 4 + 7

Sum2 = 78 + 67

Sum3 = 654 + 434

Numbers = [2, 76, 52, 98, 6, 854, 6]

Strings = ["a", "b", "c", "d", "e"]

Boolean_values = [True, False]

Operations = [Sum1, Sum2]

Colors = ["red", "green", "blue"]

# Print the list of colors

print(Colors)

# Print the elements of list ‘numbers’ having index numbers from 1 to 4
print(Numbers[1:5])

# Print ‘operations’ list 4 times

print(Operations * 4)

# Concatenate 2 lists

print(Colors + Boolean_values)

# Copy the list of strings and save it under the variable ‘letters’

letters = Strings.copy()

print(letters)

# Print the largest number in the list of numbers

print(max(Numbers))

# Append (add at last index number) the color ‘yellow’ to the list of colors and then print it

Colors.append("Yellow")

print(Colors)

# Print the list of strings in the reverse order

Strings.reverse()

print(Strings)

# Print the list of numbers in ascending order

Numbers.sort()

print(Numbers)

# Insert Sum3 to the list of Operations at index number 1 and then print it

Operations.insert(1, Sum3)

print(Operations)

# Remove the element at index number 3 in the list of Strings and then print it

Strings.pop(3)

print(Strings)

# Remove the letter ‘a’ in the list of Strings and then print it

Strings.remove("a")

print(Strings)

# Clear/Empty the list of boolean values and then print it

Boolean_values.clear()

print(Boolean_values)

# Add 'k' to the list of letters

letters.extend("k")

print(letters)

#Print the number of times the number '6' appears in the list of numbers
print(Numbers.count(6))

#Create a list of all the above stated lists and then print it
final_list = [Numbers,Strings,Colors,Boolean_values,letters,Operations]
print(final_list)
              </pre></th></tr>
        </table>
        <br>
        <p>OUTPUT:</p>
        <p>Will be generated by pressing the 'run' key (triangle shape)</p>
        <p>The text/numerals entered within the print function shall be generated. </p>
            <table>
              <tr><th><pre>
['red', 'green', 'blue']

[76, 52, 98, 6]

[11, 145, 11, 145, 11, 145, 11, 145]

['red', 'green', 'blue', True, False]

['a', 'b', 'c', 'd', 'e']

854

['red', 'green', 'blue', 'Yellow']

['e', 'd', 'c', 'b', 'a']

[2, 6, 6, 52, 76, 98, 854]

[11, 1088, 145]

['e', 'd', 'c', 'a']

['e', 'd', 'c']

[]

['a', 'b', 'c', 'd', 'e', 'k']

2

[[2, 6, 6, 52, 76, 98, 854], ['e', 'd', 'c'], ['red', 'green', 'blue', 'Yellow'],
[], ['a', 'b', 'c', 'd', 'e', 'k'], [11, 1088, 145]]


              </pre></th></tr>
              <tr><th><br></th></tr>
              <tr><th>Process finished with exit code 0</th></tr>
            </table>
    </div>
    </div>
  </section>
  <!-- End About Section -->


{% include 'footer.html' %}