{% load static %}
{% include 'navbar.html' %}
<link rel="stylesheet" href="{% static 'styles/homepage.css' %}">
<!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Basic <span>projects</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <a href="/AA">
              <center><h1>Multicolor Hexagonal Spiral in Turtle</h1></center>
            </a>
          </div>
          <a href="/AA">
          <div class="project-img">
            <img src="{% static 'images/turtle.png' %}">
          </div>
          </a>
        </div>
        <div class="project-item">
          <div class="project-info">
            <a href="/BB">
            <center><h1>Bouncing Image in Pygame</h1></center>
            </a>
          </div>
          <a href="/BB">
          <div class="project-img">
            <img src="{% static 'images/ball.png' %}" width="400" height="200">
          </div>
          </a>
        </div>
        <div class="project-item">
          <div class="project-info">
            <a href="/CC">
          <h1><center>Random Dice Roll in Python</center></h1>
            </a>
          </div>
          <a href="/CC">
          <div class="project-img">
            <img src="{% static 'images/dice.png' %}" width="400" height="200">
          </div>
          </a>
        </div>
        <div class="project-item">
          <div class="project-info">
            <a href="/DD">
              <center><h1>Simple Calculator GUI (Graphical User Interface) in Tkinter</h1></center>
            </a>
          </div>
          <a href="/DD">
          <div class="project-img">
            <img src="{% static 'images/calculator.png' %}" width="400" height="200">
          </div>
          </a>
        </div>
        <div class="project-item">
          <div class="project-info">
            <a href="/EE">
              <center><h1>Rock Paper Scissors Game Programme </h1></center>
            </a>
          </div>
          <a href="/EE">
          <div class="project-img">
            <img src="{% static 'images/rps.png' %}" width="400" height="200">
          </div>
          </a>
        </div>
                <div class="project-item">
          <div class="project-info">
            <a href="/FF">
              <center><h1>Pie Chart Using Matplotlib</h1></center>
            </a>
          </div>
          <a href="/FF">
          <div class="project-img">
            <img src="{% static 'images/pie.png' %}" width="400" height="200">
          </div>
          </a>
        </div>
        <div class="project-item">
          <div class="project-info">
            <a href="https://github.com/Chinmayeegade/Kivy-Tiled-Perspective-for-Motion-Gaming-Applications">
              <center><h1>Tiled Perspective for Motion Gaming Apps in Kivy</h1></center>
            </a>
          </div>
          <a href="https://github.com/Chinmayeegade/Kivy-Tiled-Perspective-for-Motion-Gaming-Applications">
          <div class="project-img">
            <img src="{% static 'images/kivy.png' %}" width="400" height="200">
          </div>
          </a>
        </div>
              <div class="project-item">
          <div class="project-info">
            <a href="https://github.com/Chinmayeegade/Astropy">
              <center><h1>Stellar Data Analysis Using Astropy </h1></center>
            </a>
          </div>
          <a href="https://github.com/Chinmayeegade/Astropy">
          <div class="project-img">
            <img src="{% static 'images/astropy2.png' %}" width="400" height="200">
          </div>
          </a>
        </div>
        <div class="project-item">
          <div class="project-info">
            <a href="https://github.com/Chinmayeegade/OpenCV-Image-Processing">
              <center><h1>Image Processing Methods in OpenCV</h1></center>
            </a>
          </div>
          <a href="https://github.com/Chinmayeegade/OpenCV-Image-Processing">
          <div class="project-img">
            <img src="https://user-images.githubusercontent.com/96294811/149669017-fcf1e8ac-a944-4e32-8350-3c261d4ed46e.png" width="400" height="200">
          </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->
{% include 'footer.html' %}