{% load static %}
{% include 'navbar.html' %}
<link rel="stylesheet" href="{% static 'styles/homepage.css' %}">
<!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Top<span>ics</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/1.png' %}" /></div>
          <div class="contact-info">
            <a href="/a">
            <h1>GETTING STARTED</h1>
              <p>Python and IDE Downloads</p>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/2.png' %}" /></div>
          <div class="contact-info">
            <a href="/b">
            <h1>PRINT FUNCTION</h1>
            <h2>Hello World!</h2>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/3.png' %}" /></div>
          <div class="contact-info">
            <a href="/c">
            <h1>INPUT FUNCTION</h1>
            <h2>Enter your name: </h2>
            </a>
          </div>
        </div>
      </div>
<br> <br>
      <br>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/4.png' %}" /></div>
          <div class="contact-info">
            <a href="/f">
            <h1>VARIABLES & DATA TYPES</h1>
            <h2>Assigning values and Storing Data </h2>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/5.png' %}" /></div>
          <div class="contact-info">
            <a href="/d">
            <h1>INTRODUCTION TO STRINGS</h1>
            <h2></h2>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/6.png' %}" /></div>
          <div class="contact-info">
            <a href="/e">
            <h1>CONCATENATION</h1>
            <h2>Putting together Strings, numbers and variables.</h2>
            </a>
          </div>
        </div>
      </div>
<br> <br>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/7.png' %}" /></div>
          <div class="contact-info">
            <a href="/g">
            <h1>STRING MULTIPLICATION</h1>
            <h2>Avoid typing the same command innumerable times</h2>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/8.png' %}" /></div>
          <div class="contact-info">
            <a href="/h">
            <h1>FORMATTING STRINGS</h1>
            <h2>Alignments and Spacing</h2>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/9.png' %}" /></div>
          <div class="contact-info">
            <a href="/i">
            <h1>SLICING METHODS</h1>
            <h2>Accessing individual elements/groups within data types</h2>
            </a>
          </div>
        </div>
      </div>
<br> <br>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/10.png' %}" /></div>
          <div class="contact-info">
            <a href="/j">
            <h1>NUMERIC CONSTANTS</h1>
            <h2>Integers, decimals and complex numbers</h2>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/11.png' %}" /></div>
          <div class="contact-info">
            <a href="/k">
            <h1>NUMERIC OPERATIONS</h1>
            <h2>Fundamental mathematical operations</h2>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/12.png' %}" /></div>
          <div class="contact-info">
            <a href="/l">
            <h1>LISTS</h1>
            <h2>Most used form of mutable data collection and storage</h2>
            </a>
          </div>
        </div>
      </div>
<br> <br>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/13.png' %}" /></div>
          <div class="contact-info">
            <a href="/m">
            <h1>TUPLES</h1>
            <h2>Immutable data type</h2>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/14.png' %}" /></div>
          <div class="contact-info">
            <a href="/n">
            <h1>DICTIONARIES</h1>
            <h2>Stores data in key-value pairs</h2>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/15.png' %}" /></div>
          <div class="contact-info">
            <a href="/o">
            <h1>IF STATEMENT</h1>
            <h2>Conditional programming</h2>
            </a>
          </div>
        </div>
      </div>
      <br><br>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/16.png' %}" /></div>
          <div class="contact-info">
            <a href="/p">
            <h1>IF-ELSE STATEMENT</h1>
            <h2>Conditional programming</h2>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/17.png' %}" /></div>
          <div class="contact-info">
            <a href="/q">
            <h1>IF-ELIF-ELSE STATEMENT</h1>
            <h2>Conditional Programming</h2>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/18.png' %}" /></div>
          <div class="contact-info">
            <a href="/r">
            <h1>FOR LOOP</h1>
            <h2>Perpetual looping over iterables</h2>
            </a>
          </div>
        </div>
      </div>
      <br><br>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/19.png' %}" /></div>
          <div class="contact-info">
            <a href="/s">
            <h1>WHILE LOOP</h1>
            <h2>Perpetual looping over iterables</h2>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/20.png' %}" /></div>
          <div class="contact-info">
            <a href="/t">
            <h1>IMPORT FUNCTION</h1>
            <h2>Inheritance in Python/ Reusability of code</h2>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/21.png' %}" /></div>
          <div class="contact-info">
            <a href="/u">
            <h1>DEF KEYWORD</h1>
            <h2>Defining an object or a function</h2>
            </a>
          </div>
        </div>
      </div><br><br>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/22.png' %}" /></div>
          <div class="contact-info">
            <a href="/v">
            <h1>LAMBDA FUNCTION</h1>
            <h2>In-code function definition</h2>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/23.png' %}" /></div>
          <div class="contact-info">
            <a href="/w">
            <h1>SUM FUNCTION</h1>
            <h2>Applicable to all data types</h2>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/24.png' %}" /></div>
          <div class="contact-info">
            <a href="/x">
            <h1>CLASSES</h1>
            <h2>Blueprint of an object</h2>
            </a>
          </div>
        </div>
      </div><br><br>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/25.png' %}" /></div>
          <div class="contact-info">
            <a href="/y">
            <h1>COMPARISON & BOOLEAN OPERATORS</h1>
            <h2>To constraint variable limits</h2>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{% static 'images/26.png' %}" /></div>
          <div class="contact-info">
            <a href="/z">
            <h1>Comments</h1>
            <h2>To ease code comprehension</h2>
            </a>
          </div>
        </div>
        <div class="contact-item">
          <p>More Topics Coming Soon....</p>
        </div>
      </div><br><br>
      </div>
    </div>

  </section>
  <!-- End Contact Section -->
{% include 'footer.html' %}